{% extends "layout.html" %}

{% block heading %}
    First Page
{% endblock  %}

{% block body %}
    <form action="{{ url_for('hello') }}" method="post">
        <!-- action: when you submit the form, who should be notified or where should I be submitted this form to, in this case, the hello url
        
        HTTP request POST:
        when I submit data to hello, use the method post to submit data as a form to te web server

        default request is GET
        -->
        <input type="text" name="name" placeholder="Enter your name">
        <!-- 
            name is relevant because it is called by the request.form.get in the app.py
         -->
        <button>Submit</button>
    </form>
{% endblock  %}