{% extends "layout.html" %}


{% block title %}
    {{ book.title }}
{% endblock  %}

{% block body %}

  <h1>{{ book.title}} </h1>
  <ul class="list-unstyled">
    <li>Average Rating: {{ average_rating }}/5 </li>
    <li>Total Ratings: {{ work_ratings_count }} </li>
    <li>Author: {{ book.author }}</li>
    <li>Year Published: {{ book.year }}</li>
    <li class="small">ISBN: {{ book.isbn }}</li>
  </ul>
  
{% if user_review %}
  <p>{{ user_review }}</p>
{% else %}

<form action="{{ url_for('submit_review', book_isbn=book.isbn) }} " class="form-group mt-2" method="POST">
  Rating:
  <div class="form-check form-check-inline">
    <input class="form-check-input ml-2" type="radio" name="rating" id="rating1" value=1 required>
    <label class="form-check-label" for="rating1">1</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="rating" id="rating2" value=2>
    <label class="form-check-label" for="rating2">2</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="rating" id="rating3" value=3>
    <label class="form-check-label" for="rating3">3</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="rating" id="rating4" value=4>
    <label class="form-check-label" for="rating4">4</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="rating" id="rating5" value=5>
    <label class="form-check-label" for="rating5">5</label>
  </div>
  <label for="review" class="form-control">
    Review
    <textarea name="review" cols="30" rows="10" class="form-control"></textarea>
  </label>
  <button type="submit" class="btn btn-dark form-control">Submit Review</button>
    
</form>
{% endif %}
 
{% endblock  %}