{% extends "layout.html" %} 
{% block title %} Login {% endblock %} 
{% block body %}
    <h1>Login</h1>
    <form action="" method="POST">
        <label for="username">Username:</label>
        <input type="text" name="username" class="form-control form-control-sm">
        <label for="password">Password:</label>
        <input type="password" name="password" class="form-control form-control-sm">
        <button type="submit" class="form-control btn btn-dark mt-2">Login</button>
    </form>
    <a class="btn btn-primary mt-2" href="{{ url_for("index") }}">Back to Homepage</a>

{% endblock %}